*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    transition:0.5s
}
body{
    background-color:blue;
}
a,a:active,a:hover{
    cursor:default;
}
label{ display:inline-block;
        background-color: white;
    width:1.75em;
    height:2.75em;
   cursor:pointer;
  padding:0.75em 0.25em;
}
label+label{
    margin-left:0.5vw;
}
/*#slide1_1:checked ~ .wrapper>.slider > .slide1,
#slide2_2:checked ~ .wrapper>.slider > .slide2,
#slide3_3:checked ~ .wrapper>.slider > .slide3,
#slide4_4:checked ~ .wrapper>.slider > .slide4,
#slide5_5:checked ~ .wrapper>.slider > .slide5
#slide6_6:checked ~ .wrapper>.slider > .slide6 {
    order:1}*/
.inside_link{
    width: 1.25em;
    height:1.25em;
    background-color: black;
    border: 0.25em solid green;
    border-radius: 50%;
}
.inputs{
    width:0;
    height: 0;
    display:inline;
    margin:0;
}


.links{
    z-index:2;
    margin-bottom:calc(7vh - 3.25em);
    margin-right:10%;
    justify-self:end;
    align-self:end;
    grid-area:1/1;
}
#slide2_2:checked~div>div>.slide1{
    margin-left:-101%
}
#slide3_3:checked~div>div>.slide1{
    margin-left:-202%
}
#slide4_4:checked~div>div>.slide1{
    margin-left:-303%
}
#slide5_5:checked~div>div>.slide1{
    margin-left:-404%
}
#slide6_6:checked~div>div>.slide1{
    margin-left:-505%
}
.wrapper{
    height:50vh;
    width:60vw;
    margin:10vh auto;
    background-color: white;
    display:grid;
}
.slider{
        display:flex;
    position:relative;
    width:60vw;
    padding-top:3vh;
    margin:0 auto;
    height:50vh;
    flex-direction: row;
    overflow:hidden;
        scroll-behavior: smooth;
    grid-area:1/1;
}
.slide{
    width:100%;
    height:30vh;
        width:60vw;
    display:inline-block;
}
.slide+.slide{
    margin-left:1%
}
label>a{
    width:1.75em;
    height:2.75em;
}
.slider_text{
    display:inline-block;
    margin-bottom:3vh;
    text-align: center;
    font-size:1.25rem;
    line-height:1.25rem;
    
}
.slider_img{
    width:60vw;
    height:40vh;
}