*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    transition:0.5s
}
body{
    background-color:blue;
}
label:hover>div{
    border-color:red;
}
#slide1_1:checked ~ div>.links > label >.inside_link1,
#slide2_2:checked~div>.links > label > .inside_link2,
#slide3_3:checked~div>.links > label > .inside_link3,
#slide4_4:checked~div>.links > label > .inside_link4,
#slide5_5:checked~div>.links > label > .inside_link5,
#slide6_6:checked~div>.links > label > .inside_link6
{
background-color: black;
}
label{ display:inline-block;
            width:1.75em;
    height:2.75em;
   cursor:pointer;
  padding:0.75em 0.25em;
  transition:0.2s
}
label+label{
    margin-left:0.5vw;
}
.inside_link{
    width: 1.25em;
    height:1.25em;
    background-color: white;
    border: 0.25em solid green;
    border-radius: 50%;
}
.inputs{
    width:0;
    height: 0;
    display:inline;
    margin:0;
}


.links{
    z-index:2;
    margin-bottom:calc(7vh - 3.25em);
    margin-right:10%;
    justify-self:end;
    align-self:end;
    grid-area:1/1;
}
#slide2_2:checked~div>div>.slide1{
    margin-left:-101%
}
#slide3_3:checked~div>div>.slide1{
    margin-left:-202%
}
#slide4_4:checked~div>div>.slide1{
    margin-left:-303%
}
#slide5_5:checked~div>div>.slide1{
    margin-left:-404%
}
#slide6_6:checked~div>div>.slide1{
    margin-left:-505%
}
.wrapper{
    height:50vh;
    width:60vw;
    margin:10vh auto;
    background-color: white;
    display:grid;
}
.slider{
        display:flex;
    position:relative;
    width:50vw;
    padding-top:3vh;
    margin:0 auto;
    height:50vh;
    flex-direction: row;
    overflow:hidden;
        scroll-behavior: smooth;
    grid-area:1/1;
}
.slide{
        height:40vh;
        width:50vw;
    display:inline-block;
}
.slide+.slide{
    margin-left:1%
}
label>a{
    width:1.75em;
    height:2.75em;
}
.slider_text{
    margin-top: 0.5vh;
    display:inline-block;
    margin-bottom:2.5vh;
    text-align: center;
    font-size:1.25rem;
    line-height:1.25rem;
    
}
.slider_img{
    width:50vw;
    height:40vh;
}